_<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Keep track of you favourite shows!</h1>
    <div>
        <input id="search-input" type="text">
        <button id="main-search" type="button" ></button>
    </div>
    <div id="no-results">
        <!--THIS IS WHERE OUR ERROR MESSAGE WILL BE INSERTED-->
    </div> 
    <div id="search-results">
        <!-- RESULT DIVS -->
    </div>
    <script src="js/main.js"></script>
</body>
</html>